@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="main-panel">
    <!-- Navbar Header -->
    <div class="main-header">
        <div class="main-header-logo">
            <!-- Logo Header -->
            <div class="logo-header" data-background-color="dark">
                <a href="../index.html" class="logo">
                    <img src="~/assets/img/kaiadmin/logo_light.svg"
                         alt="navbar brand"
                         class="navbar-brand"
                         height="20" />
                </a>
                <div class="nav-toggle">
                    <button class="btn btn-toggle toggle-sidebar">
                        <i class="gg-menu-right"></i>
                    </button>
                    <button class="btn btn-toggle sidenav-toggler">
                        <i class="gg-menu-left"></i>
                    </button>
                </div>
                <button class="topbar-toggler more">
                    <i class="gg-more-vertical-alt"></i>
                </button>
            </div>
            <!-- End Logo Header -->
        </div>

        @if (User.Identity.IsAuthenticated)
        {
            <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                <div class="container-fluid">
                    <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                        <li class="nav-item topbar-user dropdown hidden-caret">
                            <a class="dropdown-toggle profile-pic"
                               data-bs-toggle="dropdown"
                               href="#"
                               aria-expanded="false">
                                <div class="avatar-sm">
                                    <img src="~/assets/img/profile.jpg"
                                         alt="..."
                                         class="avatar-img rounded-circle" />
                                </div>
                                <span class="profile-username">
                                    <span class="op-7">Hi,</span>
                                    <span class="fw-bold">@User.Identity.Name</span>
                                </span>
                            </a>
                            <ul class="dropdown-menu dropdown-user animated fadeIn">
                                @* <div class="dropdown-user-scroll scrollbar-outer"> *@
                                <li>
                                    <div class="user-box">
                                        <div class="avatar-lg">
                                            <img src="~/assets/img/profile.jpg"
                                                 alt="image profile"
                                                 class="avatar-img rounded" />
                                        </div>
                                        <div class="u-text">
                                            <h4>@User.Identity.Name</h4>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/Admin/Auth/Logout">Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        }
    </div>
    <!-- End Navbar -->

    <div class="container">
        <div class="page-inner">
            <div class="page-header">
                <h3 class="fw-bold mb-3">Özellikler</h3>
                <ul class="breadcrumbs mb-3">
                    <li class="nav-home">
                        <a href="#">
                            <i class="icon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="icon-arrow-right"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/Property/Index">Property</a>
                    </li>
                    <li class="separator">
                        <i class="icon-arrow-right"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Index</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title">Özellik Listesi</h4>
                                <a class="btn btn-primary btn-round ms-auto" href="/Admin/Property/Add">
                                    <i class="fa fa-plus"></i>
                                    Özellik Ekle
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="propertyTable" class="display table table-striped table-hover" width="100%">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid d-flex justify-content-between">
            <div class="copyright">
                @DateTime.Now.Year, made with <i class="fa fa-heart heart text-danger"></i> by
                Aykut Öztürk
            </div>
        </div>
    </footer>
</div>

@section Scripts {
    <script src="~/js/Admin/property.js"></script>
}

