@{
    ViewData["Title"] = "Home Page";
}

<div class="h-100 p-5 bg-body-tertiary border rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-4">Cafe Menü yönetimi projemize hoşgeldiniz!</h1>
        <p class="lead">Bu proje cafe menüsü yönetimi yapılacaktır.</p>
        <hr class="my-4">
        <p>Bu projede kullanılan teknolojiler ; .Net Core 8, Ef Core, Mssql, Solid prensipleri</p>
        <h2>Bu proje monolitic architecture ile hazırlanmıştır.</h2>
        <a class="btn btn-primary btn-lg" asp-controller="Product" asp-action="Index">Ürün sayfasına gitmek için tıklayınız</a>
        <a class="btn btn-secondary btn-lg" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin paneline gitmek için tıklayınız</a>
    </div>
</div>