@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="table-responsive">
        <table id="productTable" class="display table table-striped table-hover" width="100%">
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/pages/product.js"></script>
}